body {
	text-align: center;
	font-family: "Ubuntu";
	background: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
}
p {
	text-align:left;
}
h1 {
	font-size: 300%;
}
h2 {
	font-size: 250%;
}
h3 {
	font-size: 180%;
}
h1,h2,h3,h4 {
	font-family: "Squada One";
	margin: 10px;
}
.code {
	font-family: "Share Tech";
}
#menu {
	color: white;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
	margin-bottom: 10px;
	text-align:center;
}
#menu td a {
	color: white;
	font-weight: bold;
	text-decoration-line: none;
	text-decoration: none;
}
#header {
	height:102.438px;
}
a {
	color: #0814cd;	
	text-decoration-line: none;
	text-decoration: none;
}
#content {
	border-collapse: collapse;
	width: 600px;
	margin: 0 auto;	
	background-color: white;
}
#content thead tr th, #content tbody tr td {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #AAA;
}
#content tbody tr a {
	color: dimgray;
}
#container1 {
	height: 100%;
	width: 100%;
}
#container2 {
	height: 100%;
	width: 600px;
    margin: auto;
    padding: 10px;
	padding-left:20px;
	padding-right:20px;
    background: #DDD;
}
#content_w {
	border-collapse: collapse;
	width: 900px;
	margin: 0 auto;	
	background-color: white;
}
#content_w thead tr th, #content_w tbody tr td {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #AAA;
}
#content_w tbody tr a {
	color: dimgray;	
}
#container1_w {
	height: 100%;
	width: 100%;
}
#container2_w {
	height: 100%;
	width: 900px;
    margin: auto;
    padding: 10px;
	padding-left:20px;
	padding-right:20px;
    background: #DDD;
}
#search[type="text"]
{
	font-family: "Ubuntu";
}
